version: '3.7'

services:
  laptop:
    image: duckielaptop
    environment:
      - "ROS_MASTER_URI=http://raspberrypi.local:11311/"
      - "ROS_HOSTNAME=benny-HP-Elitebook-840-G5.local"
      - "PYTHONUNBUFFERED=1"
      - QT_X11_NO_MITSHM=1
      - DISPLAY=$DISPLAY
    volumes: 
      - "/tmp/.X11-unix:/tmp/.X11-unix"
    extra_hosts:
      - "benny-HP-Elitebook-840-G5.local:127.0.1.1"
      - "raspberrypi.local:10.42.0.103"
    network_mode: host
    command: rosrun teleop_twist_keyboard teleop_twist_keyboard.py _speed:=0.25
    privileged: true

  rviz:
    image: duckielaptop
    volumes:
      - "/tmp/.X11-unix:/tmp/.X11-unix"
    environment:
      - "ROS_MASTER_URI=http://raspberrypi.local:11311/"
      - "ROS_HOSTNAME=benny-HP-Elitebook-840-G5.local"
      - "PYTHONUNBUFFERED=1"
      - DISPLAY=$DISPLAY
      - QT_X11_NO_MITSHM=1
    extra_hosts:
      - "benny-HP-Elitebook-840-G5.local:127.0.1.1"
      - "raspberrypi.local:10.42.0.103"
    network_mode: host
    command: bash
    privileged: true

  raspberrypi: 
    image: ros-duckiebot-raspberry-pi
    extra_hosts:
      - "benny-HP-Elitebook-840-G5.local:10.42.0.1"
      - "raspberrypi.local:127.0.1.1"
        #volumes:
            #  - "/home/pi/ros-duckiebot-raspberry-pi/calibrations:/root/duckiefleet/calibrations"
    entrypoint: "/usr/local/bin/docker-entrypoint.sh"
    network_mode: host
    privileged: true
    command: /bin/bash -c "source /root/.bashrc; roslaunch /root/duckiebot.launch"
    stdin_open: true
    tty: true
