version: '3.7'

services:
  laptop:
    image: duckielaptop
    volumes:
      - "/tmp/.X11-unix:/tmp/.X11-unix"
    environment:
      - "ROS_MASTER_URI=http://raspberrypi.local:11311/"
      - "ROS_HOSTNAME=benny-HP-EliteBook-840-G5.local"
      - "PYTHONUNBUFFERED=1"
      - DISPLAY=$DISPLAY
      - QT_X11_NO_MITSHM=1
    extra_hosts:
      - "benny-HP-EliteBook-840-G5.local:127.0.0.1"
      - "raspberrypi.local:172.17.0.1"
    network_mode: host
    command: bash
    privileged: true

  raspberrypi: 
    image: ros-duckiebot-raspberry-pi
    extra_hosts:
      - "benny-HP-Elitebook-840-G5.local:192.168.2.2"
      - "raspberrypi.local:127.0.1.1"
    entrypoint: "/usr/local/bin/docker-entrypoint.sh"
    network_mode: host
    privileged: true
    command: /bin/bash -c "source /root/.bashrc; roslaunch /root/duckiebot.launch"
    stdin_open: true
    tty: true
